::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
}
.App .side-bar {
  background-color: rgb(36, 41, 46);
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App .side-bar img {
  background-color: rgb(201, 220, 236);
  border-radius: 50%;
}
.App .side-bar h2 {
  color: rgb(201, 220, 236);
}


